<!-- app/views/applicants/new.html.erb -->
<h1 align="center">Sign up</h1> 
<% if @user.errors.any? %>
<ul  align="center">
  <% @user.errors.full_messages.each do |message| %>
  <li align="center"><%= message %></li>
  <% end %>
</ul>
<% end %>
 
<%= form_for @user, url: :applicants_create do |f| %>
  <p align="center">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
 
  <p align="center">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
 
  <p align="center">
    <%= f.label :confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
 
  <p align="center"><%= f.button "submit" %>
<% end %>
 <p align="center"><%= link_to "Sign in", sessions_new_path %>